.form1 {
    margin: 0 auto;
    width: 50%; /* adjust this value to your liking */
    display: flex;
    align-items: center;
    border: #000;
}

.form1 label {
    margin-right: 10px;
}

.form1 input[type="text"] {
    width: 50%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form1 button[type="submit"],
.form1 .btn1 {
    width: 70px;
    padding: 5px 10px;
    color: #fff;
    cursor: pointer;
    margin-left: 10px;
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
    font-size: 14px;
    align-items: center;
    text-align: center;
    text-decoration: none;
}
.form1 .btn1{
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid black; 
}

.form1 .btn1 {
    box-sizing: border-box;
    margin-left: 10px;
}
/* .input-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.form-control {
    width: 70%;
    height: 40px;
    margin: 10px;
    border-radius: 5px;
    border: 1px solid gray;
    padding: 5px;
}

.btn-primary {
    height: 40px;
    margin: 10px;
    border-radius: 5px;
    border: none;
    padding: 5px 10px;
    background-color: blue;
    color: white;
}

.btn1 {
    text-decoration: none;
    border-radius: 5px;
    border: none;
    padding: 5px 10px;
    background-color: green;
    color: white;
    margin: 10px;
} */




/* Style for the form */
form {
    width: 80%;
    margin: auto;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

table {
    width: 80%;
    border-collapse: collapse;
    margin-top: 20px;
}

table td {
    padding: 5px;
    font-size: 0.9em;
}

input[type="text"],
input[type="number"],
input[type="float"] {
    padding: 6px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 0.9em;
}

button[type="submit"] {
    padding: 8px 18px;
    margin-right: 10px;
    border: none;
    background-color: rgb(88, 160, 255);
    color: white;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
}

button[type="submit"]:hover {
    opacity: 0.8;
} 

/* Style for the table */
.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    align-items: center;
    text-align: center;
}

.table th,
.table td {
    padding: 8px;
    font-size: 0.9em;
    font-weight: bold;
    text-align: left;
    text-align: center;
}

.table th {
    background-color: #ffffff;
    color: rgb(8, 8, 8);
}

.table tr:nth-child(even) {
    background-color: #92929294;
}

.table a {
    padding: 4px 8px;
    background-color: #ffffff;
    color: rgb(8, 8, 8);
    text-decoration: none;
    border-radius: 4px;
}

.table1 a:hover {
    opacity: 0.8;
}
